@model IEnumerable<BES.Areas.Procurement.Models.AddendumWorkDetail>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sign)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AddendumWorks)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.School)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sign)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AddendumWorks.AddendumId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.School.SName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.AddendumWorkDetailId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.AddendumWorkDetailId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.AddendumWorkDetailId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
