@model BES.Models.Data.Tehsil

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Tehsil</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TehsilName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TehsilName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Tehsilcode)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Tehsilcode)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.District)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.District.DistrictName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.TehsilID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
