@model IEnumerable<BES.Models.Data.Tehsil>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TehsilName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tehsilcode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.District)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TehsilName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tehsilcode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.District.DistrictName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.TehsilID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.TehsilID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.TehsilID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
