@model IEnumerable<BES.Areas.Procurement.Models.LotItem>

<table class="table table-striped dataTables-example">
    <thead>

        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ItemName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                <text>Unit</text>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EstimatedUnitRate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ActualUnitRate)
            </th>
            <th><text>Total Estimated</text></th>
            <th><text>Total Actual</text></th>
            <th>Images</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                @*<td>
                        <text>Lot.@item.PPLot.lotno</text>
                    </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.ItemName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Unit.Name)
                </td>
                <td>
                    @String.Format("{0:#,##}", item.EstimatedUnitRate)
                </td>
                <td>
                    @{if (@String.Format("{0:#,##}", item.ActualUnitRate) == "")
                        {<text>-</text>}
                    else
                    {
                        @String.Format("{0:#,##}", item.ActualUnitRate)
                    }
                    }
                </td>
                <td>
                    @String.Format("{0:#,##}", ((item.Quantity * item.EstimatedUnitRate)))
                </td>
                <td>
                    @{if (@String.Format("{0:#,##}", ((item.Quantity * item.ActualUnitRate) ?? 0)) == "")
                        {<text>-</text>}
                    else
                    {@String.Format("{0:#,##}", ((item.Quantity * item.ActualUnitRate) ?? 0)) }
                    }
                </td>
                <td>@Html.ActionLink("Images", "ViewImages", "LotItemImages", new { id = item.LotItemId }, new { @class = "btn btn-primary btn-sm" })</td>
                <td>
                    @*@Html.ActionLink("Details", "Details", new { id=item.PPLotItemId }, new { @class = "btn btn-primary btn-sm"})*@
                    @Html.ActionLink("Edit", "Edit", new { id = item.LotItemId }, new { @class = "btn btn-white btn-sm" })
                    @*@Html.ActionLink("Delete", "Delete", new { id=item.PPLotItemId }, new { @class = "btn btn-white btn-sm"})*@
                </td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <th>Total Items: @Model.Count()</th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th>@Model.Sum(a => ((a.EstimatedUnitRate) * a.Quantity))</th>
            <th>@Model.Sum(a => ((a.ActualUnitRate ?? 0) * a.Quantity))</th>
            <th></th>
            <th></th>
        </tr>
    </tfoot>
</table>