@model IEnumerable<BES.Areas.Procurement.Models.LotItem>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ItemName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EstimatedUnitRate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ActualUnitRate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lot)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Unit)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ItemName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EstimatedUnitRate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ActualUnitRate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lot.lotId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Unit.UnitId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.LotItemId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.LotItemId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.LotItemId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
