@model IEnumerable<BES.Areas.Procurement.Models.Lot>
<div class="ibox-content">    
    <table class="table table-striped dataTables-example">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.lotno)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Attachment)
                </th>
                <th style="min-width:150px">
                    <text>Contractors/Supplier</text>
                </th>
                <th>Expiry Date</th>
                <th>Process</th>
                <th>Enter Actual Cost</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>                       
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.lotno)
                </td>
                <td>
                    <input type="file" id="file" name="@("Attachment" + item.lotId)" accept="application/pdf" />
                </td>
                <td>
                    <select class="form-control" asp-items="ViewBag.ContractorID" id="@("ContractorID" + item.lotId)"></select>
                </td>
                <td><input id="@("ExpiryDate" + item.lotId)" type="date" class="form-control datepicker" /></td>
                <td>
                    <input id="@("btn" + item.lotId)" type="button" value="Done" class="btn btn-primary btn-sm btnDone" onclick="ActionCall(@item.lotId)" />
                </td>
                <td><a asp-action="EditPopup" asp-controller="LotItems" asp-route-id="@item.lotId" class="btn btn-primary search" data-toggle="modal" data-target="#exampleModalLong1">Actual Cost of Items</a></td>
                <td><img src="~/img/cross.png" width="38" height="30" /></td>                
                }
            </tr>                
            }
        </tbody>
    </table>    
</div>


@section Styles {
    <!-- DataTables -->
    <link rel="stylesheet" href="~/libs/datatables/css/dataTables.bootstrap.min.css">
}

    <script src="~/libs/jquery/jquery.min.js"></script>
    <script>        

        
        function ActionCall(id) {
            var cid = document.getElementById('ContractorID' + id).value;
            var edate = document.getElementById('ExpiryDate' + id).value;

            var fileUpload = document.getElementById('Attachment17');
            alert(fileUpload==null)
            var files = fileUpload.files[0];
            alert(files.length);
            //if (files.length == 0) return;
            ////< load into FormData >            
            //for (var i = 0; i < files.length; i++) {
            //    var test =  files[i];
            //}
            alert(edate)
                $.ajax({
                    type: "POST",
                    data: {
                        LotId: id,
                        ContractorID : cid,
                        ExpiryDate: edate,
                        Attachment: test
                    },
                    url: "/Procurement/Lots/AssignLot2",
                    dataType: 'json',                    
                    
                    success: function (response) {
                        if (response.success) {
                            alert(response.responseText);
                        } else {
                            // DoSomethingElse()
                            alert(response.responseText);
                        }
                    },
                    error: function (response) {
                        alert("error!");  //
                    }

                });
            }
        

    </script>
