@model BES.Areas.Procurement.Models.Lot

@{
    ViewData["Title"] = "Create";
}
<div style="margin:10px 10px 0 10px">
    <hr />
    @{
        if (ViewBag.CurrentLot < ViewBag.LotTotal)
        {
            <form asp-action="Create">
                <div class="row">
                    <div class="col-md-12">
                        <h4 class="box-title" style="font-weight:bold">Add New Lot</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-5 col-md-5 col-lg-5">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label class="control-label">Activity Name</label>
                            <select asp-for="ActivityID" class="form-control" asp-items="ViewBag.ActivityID"></select>
                        </div>
                    </div>
                    <div class="col-sm-2 col-md-2 col-lg-2">
                        <div class="form-group">
                            <label asp-for="lotno" class="control-label"></label>
                            <input asp-for="lotno" class="form-control" value="@ViewBag.NextLot" readonly="readonly" />
                            <span asp-validation-for="lotno" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-sm-3 col-md-3 col-lg-3">
                        <div class="form-group">
                            <label asp-for="ItemTotal" class="control-label"></label>
                            <input asp-for="ItemTotal" class="form-control" />
                            <span asp-validation-for="ItemTotal" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-9 col-md-9 col-lg-9">
                        <div class="form-group">
                            <label asp-for="lotDescription" class="control-label"></label>
                            <input asp-for="lotDescription" class="form-control" />
                            <span asp-validation-for="lotDescription" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-sm-2 col-md-2 col-lg-2">
                        <div class="form-group" style="margin-top:25px">
                            <input type="submit" value="Add New Lot" class="btn btn-primary" />
                        </div>
                    </div>                    
                </div>
            </form>
        }
    }
    <div class="row">
        <div class="col-md-2">
            <h4 class="box-title">
                <text style="font-weight:bold">List of Lots </text>
            </h4>
        </div>
        <div class="col-md-1" id="divLoading">
            <img src="~/img/sspinner.gif" width="40" height="40" />
        </div>
    </div>
    <span style="font-size:14px;background-color:cornflowerblue;color:white;padding:5px;margin-left:5px">Total Lot: @ViewBag.LotTotal Created Lots: @ViewBag.CurrentLot Remaining Lots: @ViewBag.RemainingLot</span>
<div id="dynamicContentContainer" style="margin:5px"></div>
<div>
    <a asp-action="Edit" asp-controller="Activities" asp-route-id="@ViewBag.AID">Back to List</a>
</div>
</div>
    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
        <script>
        $(document).ready(function () {
            $.get('@Url.Action("Index", "TeacherProfiles")', { id: @ViewBag.AID }, function (content) {
                $("#dynamicContentContainer").html(content);
                $("#divLoading").hide();
            });
        });
        </script>
    }
