@model IEnumerable<BES.Areas.Procurement.Models.Lot>



<table class="table table-striped">
    <tr>
        @*<th>
                @Html.DisplayNameFor(model => model.Contractor.CompanyName)
            </th>*@
        @*<th>
                @Html.DisplayNameFor(model => model.PPActivity.Name)
            </th>*@
        <th>
            @Html.DisplayNameFor(model => model.lotno)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lotDescription)
        </th>
        <th>Estimated Amount</th>
        <th>Actual Amount</th>
        @*<th>Lot</th>*@
        <th>Add Items</th>
        <th>Addendum</th>
        @*<th>GRN Management</th>*@
    </tr>
    @{ int counter = 1;}
    @foreach (var item in Model)
    {
    <tr>
        @*<td>
            @Html.DisplayFor(modelItem => item.Contractor.CompanyName)
        </td>*@
        @*<td>
            @Html.DisplayFor(modelItem => item.PPActivity.Name)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.lotno)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lotDescription)
        </td>
        @{
            if ((int)ViewData["DataCount"] >= counter)
            {
                <td>
                    @{if (@String.Format("{0:#,##}", (((int[])ViewData["Data"])[counter])) == "")
                        {<text>-</text>}
                    else
                    {@String.Format("{0:#,##}", (((int[])ViewData["Data"])[counter])) }
                    }
                </td>
                <td>
                    @{if (@String.Format("{0:#,##}", (((int[])ViewData["Data"])[counter + 1])) == "")
                        {<text>-</text>}
                    else
                    {@String.Format("{0:#,##}", (((int[])ViewData["Data"])[counter + 1])) }
                    }
                </td>
            }
            else
            {
                <td>Pending</td>
                <td>Pending</td>
            }
        }
        @{ counter = counter + 3;}
        @*<td>
            @Html.ActionLink("Details", "Details", new { id=item.lotId }, new { @class = "btn btn-primary btn-sm"})
            @Html.ActionLink("Edit / Assign Lot", "Edit", new { id = item.lotId }, new { @class = "btn btn-white btn-sm" })
        </td>*@
                <td>                    
                        <a href='@Url.Action("Create", "LotItems", new { id = item.lotId})'>
                            <img src='@Url.Content("~/images/plus.png")' width="30" height="30" />
                        </a>
                </td>
        @{
            if (item.ExpiryDate == null)
            {
                <td>
                    <a href='@Url.Action("Create", "Addenda", new { id = item.lotId, AID = item.ActivityID })'>
                        <img src='@Url.Content("~/images/plus.png")' width="30" height="30" />
                    </a>
                </td>
            }
            else
            {
                <td style="color:dodgerblue;font-weight:bold">Contract Pending</td>
            }
        }
        @*<td>@Html.ActionLink("Receiving Items", "Create", "PPGRNManagements", new { id = item.lotId }, new { @class = "btn btn-primary btn-sm" })</td>*@
    </tr>
    }

</table>