@model IEnumerable<BES.Models.Data.IndicatorTracking>

@{
    ViewData["Title"] = "Update";
    int dataLength = Model.Count();
    int ii = 1;
}
@section Styles {
    <!-- bootstrap datepicker -->
    <link rel="stylesheet" href="~/libs/bootstrap-datepicker/css/bootstrap-datepicker.min.css">
}

<input type="hidden" id="dataCnt" value="@dataLength" />
<h2>Update</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Indicator)
            </th>

            <th>
               uploaded / Done
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOfUpload)
            </th>

            <th>
               Evidance Requried
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {


            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.Indicator)
                </td>

                <td>
                    @{

                        if (item.IsUpload == true)
                        {
                            if (item.isEvidence == true)
                            {
                                @Html.DisplayFor(modelItem => item.TotalFilesUploaded) <text> files </text>
                            }
                            else
                            {
                                <img src="~/img/checked-checkbox-16.png" />
                            }
                        }

                        else
                        {
                            if (item.isEvidence == true)
                            {
                                string AttachID = "Attach" + @item.IndicatorID;
                                <input type="file" multiple name="Attachment" id=@item.IndicatorID /> }
                            else
                            {
                                <input type="checkbox" id=@item.IndicatorID />
                            }
                        }
                    }
                </td>
                <td>
                    @{

                        if (item.IsUpload == true)
                        {
                            @Html.DisplayFor(modelItem => item.DateOfUpload)}
                        else
                        {
                            <div class="input-group date">
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                <input type="text" class="form-control pull-right" id=@("datepicker" + ii++) >
                            </div>


                        }
                    }
                </td>

                <td>
                   @{ 
                       if (item.isEvidence == true)
                       { <text>Yes</text>}
                       else
                       { <text>No</text>}
                   }

                <td>

                    @{
                        if (item.IsUpload == true)
                        {
                            if (item.isEvidence == true)
                            { <input type="submit" value="View" class="btn btn-default" onclick="submit_by_Script(this,@item.IndicatorID, @item.SchoolID,@item.isEvidence.ToString().ToLower(), @ViewBag.SecID)" />}
                        }
                        else
                        { 
                            <input type="submit" value="Save" class="kk btn btn-primary" onclick="submit_by_Script(this,@item.IndicatorID, @item.SchoolID,@item.isEvidence.ToString().ToLower(), @ViewBag.SecID)" />
                        }
                    }
                    @*@Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
        @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
        @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })*@
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts{
    <!-- bootstrap datepicker -->
    <script src="~/libs/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
    <script type="text/javascript">

        function submit_by_Script(elmnt, iId, sId, isEvid, SecID) {
            var AttachID = "Attach" + iId;
            var dpID = "datepicker" + iId;
            var fileUpload = document.getElementById(iId);
            var datepick = document.getElementById(dpID);
           
            var flag = true;
            var dateVal = datepick.value;

           
            //var id = fileInput[0].id;
            //var files = fileUpload.files;
            if (isEvid == true) { 
                if (fileUpload.files.length > 0) {
                    //alert("Ready to Post");
                }
                else {
                    alert("Please Select Evidence file(s) to upload");
                    flag = false;
                    
                }
                //alert("total files=: " + fileInput.files.length + " SID=:" + sId + "  isEvid=: " + isEvid);
            }
            
            else { // validate checkbox
                if (fileUpload.checked == true) {
                    //alert("Checkbox Ready to post");
                }
                else {
                    alert("Please check Indicator as done ")
                    flag = false;
                }
                //alert("Checkbox=:"+fileInput.checked);
            }
            if (datepick.value.length == 0) {
                alert("Please Select Date of Achievement");
                flag = false;
            }
            if (flag == true) {
                var fileData = new FormData();
                if (isEvid == true) {
                    alert("Ready to post with Pix");

                    // Looping over all files and add it to FormData object  
                    for (var i = 0; i < fileUpload.files.length; i++) {
                        fileData.append(fileUpload.files[i].name, fileUpload.files[i]);
                    }
                }
                    //// Adding one more key to FormData object  
                    //fileData.append('username', 'Manas');
                    $.ajax({
                        type: "POST",
                        contentType: false, // Not to set any content header  
                        processData: false, // Not to process data  
                        data: fileData,
                        url: "/IncdicatorTrackings/UpdatePost?sID=" + sId + "&iId=" + iId + "&EDate=" + dateVal+ "&SecID="+@ViewBag.SecID,
                        dataType: 'json',

                        success: function (response) {
                            if (response.success) {
                                alert(response.responseText);
                                window.location.href = "/IncdicatorTrackings/Update/" + sId + "?SecID=" + SecID;
                            } else {
                                // DoSomethingElse()
                                alert(response.responseText);
                                //window.location.href =
                            }
                        },
                        error: function (response) {
                            alert("error!");  //
                        }

                    });
                
                @*else {
                    window.location.assign("/IncdicatorTrackings/UpdatePost?sID=" + sId + "&iId=" + iId + "&EDate=" + dateVal+ "&SecID="+@ViewBag.SecID);
                }*@
            }

        }


    $(document).ready(function () {
        //Date picker
        var hiddenLength = document.getElementById("dataCnt");
       // alert(hiddenLength.value);
        for (var i = 1; i < hiddenLength.value; i++) {
            var dt = "#datepicker" + i;
            $(dt).datepicker({
                autoclose: true
            })
        }
        @*var model = @Html.Raw(Json.Serialize(Model));
        alert(model.lenght);     
            for (var i = 0; i < model.lenght; i++){
            alert(model[i].IndicatorID);
        }*@
        //$.each(model, function (index, item) 
        //{
        //    alert("Indi=" + model[index].IndicatorID+ ", index="+index);
        //     var dt = "#datepicker" + model[index].IndicatorID;
        //     $(dt).datepicker({
        //        autoclose: true
        //    })
        
        
        //});
    });
    </script>
}
