@model BES.Areas.Procurement.Models.Step

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Step</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SerailNo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SerailNo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProcurementPlan)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProcurementPlan.ProcurementPlanID)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.StepID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
