@model IEnumerable<BES.Areas.Procurement.Models.Step>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SerailNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProcurementPlan)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SerailNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProcurementPlan.ProcurementPlanID)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.StepID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.StepID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.StepID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
