@model IEnumerable<BES.Models.Data.School>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SchoolOf)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BEMIS)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Level)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Latitude)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Longitude)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Zone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Onboard)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOpen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Abandon)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Upgradation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ConstructionStartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Budget)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PTSMC)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LandMutation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InitialEnrollment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Construction)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Password)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SelectedStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Remarks)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NotificationDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phase)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UC)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SchoolOf)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BEMIS)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Level)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Latitude)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Longitude)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Zone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Onboard)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOpen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Abandon)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Upgradation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ConstructionStartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Budget)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PTSMC)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LandMutation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InitialEnrollment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Construction)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Password)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SelectedStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Remarks)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NotificationDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phase)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UC.UCName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.SchoolID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.SchoolID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.SchoolID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
