@model IEnumerable<LIVESTOCK.Areas.website.Models.NewsEvent>

<table class="table table-striped table-bordered  dataTables-example">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Heading)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OnDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Heading)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OnDate)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.NewsEventID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.NewsEventID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.NewsEventID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<script src="~/libs/datatables/js/jquery.dataTables.min.js"></script>
<script src="~/libs/datatables/js/dataTables.bootstrap.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('.dataTables-example').DataTable({
        });
    });
</script>