@model BES.Areas.Procurement.Models.ActivityDetail

@{
    ViewData["Title"] = "Create";
}

<div class="row" style="margin:0 15px 0 15px">
    <h3 class="box-title">Add Activity Step</h3>

    <hr />
    <form asp-action="create" method="post" enctype="multipart/form-data">
        <div class="row">
            <div class="col-sm-5 col-md-5 col-lg-5">
                <input type="hidden" value="@ViewBag.PPName" name="PPName" />
                <input type="hidden" asp-for="StepID" />
                <input type="hidden" asp-for="ActivityID" />
                <div class="form-group">
                    <label asp-for="Activity.Name" class="control-label"></label>
                    <input asp-for="Activity.Name" class="form-control" readonly="readonly" />
                    <span asp-validation-for="Activity.Name" class="text-danger"></span>
                </div>
            </div>

            <div class="col-sm-2 col-md-2 col-lg-2">
                <div class="form-group">
                    <label class="control-label">Step.No</label>
                    <input asp-for="Step.SerailNo" class="form-control" readonly="readonly" />
                    <span asp-validation-for="Step.SerailNo" class="text-danger"></span>
                </div>
            </div>
            <div class="col-sm-4 col-md-4 col-lg-4">
                <div class="form-group">
                    <label asp-for="CreatedBy" class="control-label"></label>
                    <input asp-for="CreatedBy" class="form-control" readonly="readonly" />
                </div>
            </div>
        </div>
        <div class=" row">
            <div class="col-sm-7 col-md-7 col-lg-7">
                <div class="form-group">
                    <label asp-for="Step.Name" class="control-label"></label>
                    <input asp-for="Step.Name" class="form-control" readonly="readonly" />
                </div>
            </div>
        </div>
        @{
            if (Model.Step.SerailNo == 1 || Model.Step.SerailNo == 6)
            {
                <div class="row">
                    <div class="col-sm-4 col-md-4 col-lg-4">
                        <div class="form-group">
                            <div class="checkbox">
                                <label>
                                    <input asp-for="NotApplicable" /> @Html.DisplayNameFor(model => model.NotApplicable)
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
        <div class="row">
            <div class="col-sm-3 col-md-3 col-lg-3">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="divHide">
                    <div class="form-group">
                        <label asp-for="PlannedDate" class="control-label"></label>
                        <input asp-for="PlannedDate" class="form-control" />
                        <span asp-validation-for="PlannedDate" class="text-danger"></span>
                    </div>
                    @*<div class="form-group">
                        <label asp-for="Activity.ActualCost" class="control-label"></label>
                        <input asp-for="Activity.ActualCost" name="ActualCost" class="form-control" required />
                        <span asp-validation-for="Activity.ActualCost" class="text-danger"></span>
                    </div>*@
                </div>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2">
                <div class="divHide">
                    <div class="form-group">
                        <label asp-for="ActualDate" class="control-label"></label>
                        <input asp-for="ActualDate" class="form-control" />
                        <span asp-validation-for="ActualDate" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2">
                <div class="divHide">
                    <div class="form-group">
                        <label asp-for="Attachment" class="control-label"></label>
                        <div>
                            <span class="btn btn-file" style="padding:0"><img src="~/images/uploadfile.png" width="30" height="30" /><input type="file" name="Attachment" accept="application/pdf"></span>
                        </div>
                    </div>
                </div>

            </div>
            @{
                if (Model.StepID == 21)
                {
                    if (Model.ActualDate == null)
                    {
                        <div class="col-sm-2 col-md-2 col-lg-2">
                            <div class="form-group">
                                <label class="control-label">Award To: Contractor</label>
                                <select id="CID" name="CID" class="form-control" asp-items="ViewBag.ContractorID"></select>
                            </div>
                        </div>
                        <div class="col-sm-2 col-md-2 col-lg-2">
                            <div class="form-group">
                                <label class="control-label">Contract Expiry Date</label>
                                <input id="ExpiryDate" name="ExpiryDate" type="date" class="form-control datepicker" required />
                            </div>
                        </div>
                    }
                }
            }
        </div>
       
        <div class="row">
            <div class="form-group" id="divBtns">
                <div class="col-md-2">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </div>
        </div>
        
        @{
            if (ViewBag.PPName == "Works")
            {
                if (Model.Step.SerailNo == 8)
                {
                    <div class="row">
                        <div class="form-group" id="divBtns">
                            <div class="col-md-2" style="margin-top:3px">
                                <input class="btn btn-sm btn-success" type="button" value="Work Detail" onclick="ViewDetailWorks()" />
                            </div>
                        </div>
                    </div>
    <div class="row">
        <div class="col-sm-8 col-md-8 col-lg-8">
            <div id="dynamicContentContainerWork"></div>
        </div>
    </div>
    }
    }
    }
</form>
    <hr />
    <div>
        <a asp-action="Edit" asp-controller="Activities" asp-route-id="@Model.ActivityID">Back to List</a>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script type="text/javascript">
    $(document).ready(function () {
        if ($('#NotApplicable').is(":checked")) {
            $(".divHide").hide();
            $('#ActualDate').val(null).change();
            $('#Attachment').val(null).change();
            $("#divBtns").css({
                "margin-top": "25px",
            });
        }
        else {
            $(".divHide").show();
        }        
    });
        function ViewDetailWorks() {             
             $("#divLoading").show();
             $("#contractordiv").show();
                $.get('@Url.Action("AssignWorkActivity", "ActivityDetailWorks")', { id: @Model.ActivityID }, function (content) {
                $("#dynamicContentContainerWork").html(content);
                $("#divLoading").hide();
            }); }
    $(document).ready(function () {
        $('#NotApplicable').click(function () {
        if ($('#NotApplicable').is(":checked")) {
            $(".divHide").hide();
            $('#ActualDate').val(null).change();
            $('#PlannedDate').val(null).change();
            $('#Attachment').val(null).change();
            $("#divBtns").css({
                "margin-top": "25px",
            });
        }
        else
            $(".divHide").show();
        //alert("Clicked");
        });
    });


    </script>
}
