@model BES.Areas.Procurement.Models.ActivityDetail

@{
    ViewData["Title"] = "Edit";
}

<style>

    .btn-file {
        position: relative;
        overflow: hidden;
    }

        .btn-file input[type=file] {
            position: absolute;
            top: 0;
            right: 0;
            min-width: 100%;
            min-height: 100%;
            font-size: 100px;
            text-align: right;
            filter: alpha(opacity=0);
            opacity: 0;
            outline: none;
            background: white;
            cursor: inherit;
            display: block;
        }
</style>

<div class="row" style="margin:0 15px 0 15px">
    <h3 class="box-title">Update Activity Step</h3>

    <hr />
    <form asp-action="Edit" method="post" enctype="multipart/form-data">
        <div class="row">
            <div class="col-sm-6 col-md-6 col-lg-6">
                <input type="hidden" value="@ViewBag.PPName" name="PPName" />
                <div class="form-group">
                    <label asp-for="Activity.Name" class="control-label"></label>
                    <input asp-for="Activity.Name" class="form-control" readonly="readonly" />
                    <span asp-validation-for="Activity.Name" class="text-danger"></span>
                </div>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2">
                <div class="form-group">
                    <label class="control-label">Step.No</label>
                    <input asp-for="Step.SerailNo" class="form-control" readonly="readonly" />
                    <span asp-validation-for="Step.SerailNo" class="text-danger"></span>
                </div>
            </div>
            <div class="col-sm-3 col-md-3 col-lg-3">
                @*<div class="form-group">
                    <label asp-for="CreatedBy" class="control-label"></label>
                    <input asp-for="CreatedBy" class="form-control" readonly="readonly" />
                </div>*@
                <div class="form-group">
                    <label asp-for="UpdatedBy" class="control-label"></label>
                    <input asp-for="UpdatedBy" class="form-control" readonly="readonly" />
                    <span asp-validation-for="UpdatedBy" class="text-danger"></span>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                <div class="form-group">
                    <label asp-for="Step.Name" class="control-label"></label>
                    <input asp-for="Step.Name" class="form-control" readonly="readonly" />
                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                <div class="form-group">
                    <label asp-for="UpdatedBy" class="control-label"></label>
                    <input asp-for="UpdatedBy" class="form-control" readonly="readonly" />
                    <span asp-validation-for="UpdatedBy" class="text-danger"></span>
                </div>
            </div>
        </div>
        @{
            if (Model.Step.SerailNo == 1 || Model.Step.SerailNo == 6)
            {
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <div class="checkbox">
                                <label>
                                    <input asp-for="NotApplicable" /> @Html.DisplayNameFor(model => model.NotApplicable)
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
                <div class="row">
                    <div class="col-sm-2 col-md-2 col-lg-2">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="StepID" />
                        <input type="hidden" asp-for="ActivityID" />
                        <input type="hidden" asp-for="UpdatedBy" />
                        <input type="hidden" asp-for="UpdatedDate" />
                        <input type="hidden" asp-for="CreatedDate" />
                        <input type="hidden" asp-for="Attachment" />
                        <div class="divHide">
                            <div class="form-group">
                                <label asp-for="PlannedDate" class="control-label"></label>
                                @{
                                    if (Model.PlannedDate == null)
                                    {
                                        <input asp-for="PlannedDate" class="form-control" required />
                                        <span asp-validation-for="PlannedDate" class="text-danger"></span>
                                    }
                                    else
                                    {
                                        <input asp-for="PlannedDate" class="form-control" style="min-width:150px" readonly="readonly" />
                                    }
                                }
                            </div>
                        </div>
                        @{
                            if (Model.ActualDate == null)
                            {
                                <div class="form-group">
                                    <div>
                                        <input type="submit" value="Save" class="btn btn-primary" />
                                    </div>
                                </div>
                            }
                        }

                    </div>
                    <div class="col-sm-2 col-md-2 col-lg-2">
                        <div class="divHide">
                            <div class="form-group">
                                <label asp-for="ActualDate" class="control-label"></label>
                                @{
                                    if (Model.ActualDate == null)
                                    {
                                        <input asp-for="ActualDate" class="form-control" required />
                                    }
                                    else
                                    {
                                        <input asp-for="ActualDate" class="form-control" style="min-width:150px" readonly="readonly" />
                                    }
                                }
                                <span asp-validation-for="ActualDate" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    @{
                        if (Model.StepID != 8)
                        {
                            <div class="col-sm-2 col-md-2 col-lg-2">
                                <div class="divHide">
                                    <div class="form-group">
                                        <label class="control-label">Upload file here</label>
                                        <div>
                                            @{
                                                if (Model.Attachment != null)
                                                { <a href='@Url.Content(Model.Attachment)' target="_blank">
                                                        View Uploaded File
                                                    </a>
                                                }
                                                else
                                                {
                                                    <span class="btn btn-file" style="padding:0"><img src="~/images/uploadfile.png" width="30" height="30" /><input type="file" name="Attachment" accept="application/pdf" required></span>
                                                }
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                    @{
                        if (Model.StepID == 21)
                        {
                            if (Model.ActualDate == null)
                            {
                                <div class="col-sm-2 col-md-2 col-lg-2">
                                    <div class="form-group">
                                        <label class="control-label">Award To: Contractor</label>
                                        <select id="CID" name="CID" class="form-control" asp-items="ViewBag.ContractorID"></select>
                                    </div>
                                </div>
                                <div class="col-sm-2 col-md-2 col-lg-2">
                                    <div class="form-group">
                                        <label class="control-label">Contract Expiry Date</label>
                                        <input id="ExpiryDate" name="ExpiryDate" type="date" class="form-control datepicker" required />
                                    </div>
                                </div>
                            }
                            else
                            {
                                <div class="col-sm-2 col-md-2 col-lg-2">
                                    <div class="form-group">
                                        <label class="control-label">Award To: Contractor</label>
                                        <label><b style="background-color:antiquewhite;padding:3px">@ViewBag.CName</b></label>
                                    </div>
                                </div>
                                <div class="col-sm-2 col-md-2 col-lg-2">
                                    <div class="form-group">
                                        <label class="control-label">Contract Expiry Date</label>
                                        <label><b style="background-color:antiquewhite;padding:3px">@ViewBag.CEDate</b></label>
                                    </div>
                                </div>
                            }
                        }
                    }
                </div>
        @{
            if (ViewBag.PPName == "Goods")
            {
                if (Model.Step.SerailNo == 8 && Model.ActualDate != null)
                {
                    <input class="btn btn-sm btn-success" type="button" value="Detail" onclick="ViewDetailLots()" />
                    <div class="row">
                        <div class="col-sm-10 col-md-10 col-lg-10">
                            <h4 style="font-weight:bold">Please Assign Lots to Suppliers<img id="divLoading" src="~/img/sspinner.gif" width="40" height="40" /></h4>
                            <a asp-action="Create2" asp-controller="Contractors" asp-route-id="1" class="btn-sm btn-primary search" data-toggle="modal" data-target="#exampleModalLong1"> Add New Supplier/Contractor</a>
                            <div id="dynamicContentContainerLot"></div>
                        </div>
                    </div>
                }
            }
            if (ViewBag.PPName == "Works")
            {
                if (Model.Step.SerailNo == 8 && Model.ActualDate != null)
                {
                    <input class="btn btn-sm btn-success" type="button" value="Work Detail" onclick="ViewDetailWorks()" />
                    <div class="row">
                        <div class="col-sm-8 col-md-8 col-lg-8">
                            <div id="contractordiv" style="display:none">
                                <h4 style="font-weight:bold">Please Assign Lots to Suppliers<img id="divLoading" src="~/img/sspinner.gif" width="40" height="40" /></h4>
                                <a asp-action="Create2" asp-controller="Contractors" asp-route-id="1" class="btn-sm btn-primary search" data-toggle="modal" data-target="#exampleModalLong1"> Add New Supplier/Contractor</a>
                            </div>
                            <div id="dynamicContentContainerWork"></div>
                        </div>
                    </div>
                }
            }
        }
    </form>
    
    <div>
        <a asp-action="Edit" asp-controller="Activities" asp-route-id="@Model.ActivityID">Back to List</a>
    </div>
    <!-- Modal1 -->
    <div class="modal fade" id="exampleModalLong1" tabindex="-1" role="dialog" aria-hidden="true" style="z-index: 1400">
        <div class="modal-dialog" role="document" style="width:800px;min-height:600px">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div id="partial">Loading....</div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    @*<button type="button" class="btn btn-primary">Save changes</button>*@
                </div>
            </div>
        </div>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    
    <script type="text/javascript">
    $(document).ready(function () {
        if ($('#NotApplicable').is(":checked")) {
            $(".divHide").hide();
            $('#ActualDate').val(null).change();
            $('#Attachment').val(null).change();
            $("#divBtns").css({
                "margin-top": "25px",
            });
        }
        else {
            $(".divHide").show();
        }        
        //$(function () {
        //    $('.search').click(function () {
        //        var url = $(this).data('url');
        //        var route = url;
        //        $('#partial').load(route);
        //    });
        //});       
        $("#divLoading").hide(); 
    });
         function ViewDetailLots() {             
             $("#divLoading").show();
                $.get('@Url.Action("AssignLotsInBulk", "Lots")', { id: @Model.ActivityID }, function (content) {
                $("#dynamicContentContainerLot").html(content);
                $("#divLoading").hide();
                });
        }
         function ViewDetailWorks() {             
             $("#divLoading").show();
             $("#contractordiv").show();
                $.get('@Url.Action("AssignWorkActivity", "ActivityDetailWorks")', { id: @Model.ActivityID }, function (content) {
                $("#dynamicContentContainerWork").html(content);
                $("#divLoading").hide();
            }); }
    $(document).ready(function () {
        $('#NotApplicable').click(function () {
        if ($('#NotApplicable').is(":checked")) {
            $(".divHide").hide();
            $('#ActualDate').val(null).change();
            $('#PlannedDate').val(null).change();
            $('#Attachment').val(null).change();
            $("#divBtns").css({
                "margin-top": "25px",
            });
        }
        else
            $(".divHide").show();
        //alert("Clicked");
        });
    });


    </script>
}
