@model BES.Areas.Procurement.Models.SCManagement

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>SCManagement</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ReceivingDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ReceivingDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Attachment)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Attachment)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Lot)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Lot.lotId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Location)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Location.LocationId)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="SCManagementID" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
