@model IEnumerable<LIVESTOCK.Areas.website.Models.Director>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/website/Views/Shared/_LayoutWebadmin.cshtml";
}
@*
<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>*@
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.HeadName)
            </th>            
           @* <th>
                @Html.DisplayNameFor(model => model.Contact)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedOn)
            </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.HeadName)
            </td>            
           @* <td>
                @Html.DisplayFor(modelItem => item.Contact)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedOn)
            </td>*@
            <td>
                <a asp-action="Edit" asp-route-id="@item.DirectorID">Edit</a> @*|
                <a asp-action="Details" asp-route-id="@item.DirectorID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.DirectorID">Delete</a>*@
            </td>
        </tr>
}
    </tbody>
</table>
