@model BES.Areas.Procurement.Models.Activity

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Activity</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ActivityNo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ActivityNo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LotTotal)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LotTotal)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProcurementFor)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProcurementFor)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EstimatedCost)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EstimatedCost)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ActualCost)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ActualCost)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ReviewType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ReviewType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsCenceled)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsCenceled)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Remarks)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Remarks)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UpdatedDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UpdatedDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PProcurementPlan)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PProcurementPlan.ProcurementPlanID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Method)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Method.MethodID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PPProject)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PPProject.ProjectNo)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ActivityID" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
