@model Tuple<List<BES.Areas.Procurement.Models.ActivityDetail>, List<BES.Areas.Procurement.Models.ModelViews.LotInfo>, IEnumerable<BES.Areas.Procurement.Models.Addendum>, IEnumerable<BES.Areas.Procurement.Models.ModelViews.VLotItemDetail>, List<BES.Areas.Procurement.Models.Activity>>

@{
    ViewBag.Title = "Details";
}

<style>
    dt {
        font-weight: 500;
    }

    dd {
        padding-top: 5px;
    }

    .dataTables_wrapper {
        padding-bottom: 0;
    }
</style>


<div style="margin:10px 10px 0 10px">
    <div class="row">
        <div class="col-lg-12">
            <div>
                <div class="callout callout-success">
                    <h4>Activity</h4>
                    <p>@Model.Item5.ElementAt(0).Name</p>
                </div>
                <div>
                    <div class="row">
                        <div class="col-lg-4">
                            <div>
                                <dl class="dl-horizontal">
                                    <dt class="btn btn-primary btn-sm">
                                        @Html.DisplayNameFor(model => model.Item5.ElementAt(0).Method.Name)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.Item5.ElementAt(0).Method.Name)
                                    </dd>

                                    <dt class="btn btn-primary btn-sm">
                                        @Html.DisplayNameFor(model => model.Item5.ElementAt(0).EstimatedCost)
                                    </dt>

                                    <dd>
                                        <text>@String.Format("{0:#,##}", Model.Item5.ElementAt(0).EstimatedCost)</text>
                                    </dd>
                                    <dt class="btn btn-primary btn-sm">
                                        @Html.DisplayNameFor(model => model.Item5.ElementAt(0).ActualCost)
                                    </dt>

                                    <dd>
                                        <text>@String.Format("{0:#,##}", Model.Item5.ElementAt(0).ActualCost)</text>
                                    </dd>
                                    <dt class="btn btn-primary btn-sm">
                                        @Html.DisplayNameFor(model => model.Item5.ElementAt(0).ReviewType)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.Item5.ElementAt(0).ReviewType)
                                    </dd>

                                    <dt class="btn btn-primary btn-sm">
                                        @Html.DisplayNameFor(model => model.Item5.ElementAt(0).Status)
                                    </dt>

                                    <dd>
                                        @{
                                            if (Model.Item5.ElementAt(0).Status == 1)
                                            {
                                                <text>Not Initiated</text>
                                            }
                                            else if (Model.Item5.ElementAt(0).Status == 2)
                                            {
                                                <text>In Process</text>
                                            }
                                            else if (Model.Item5.ElementAt(0).Status == 3)
                                            {
                                                <text>Completed</text>
                                            }
                                            else
                                            {
                                                <text>Cancelled</text>
                                            }
                                        }
                                    </dd>
                                    <dt class="btn btn-primary btn-sm">
                                        @Html.DisplayNameFor(model => model.Item5.ElementAt(0).IsCenceled)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.Item5.ElementAt(0).IsCenceled)
                                    </dd>
                                    <dt class="btn btn-primary btn-sm">
                                        @Html.DisplayNameFor(model => model.Item5.ElementAt(0).Remarks)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.Item5.ElementAt(0).Remarks)
                                    </dd>
                                    <dt class="btn btn-primary btn-sm">
                                        @Html.DisplayNameFor(model => model.Item5.ElementAt(0).CreatedBy)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.Item5.ElementAt(0).CreatedBy)
                                    </dd>
                                    <dt class="btn btn-primary btn-sm">
                                        @Html.DisplayNameFor(model => model.Item5.ElementAt(0).CreatedDate)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.Item5.ElementAt(0).CreatedDate)
                                    </dd>
                                </dl>
                            </div>
                        </div>
                        <div class="col-lg-8">

                            <div class="alert alert-info alert-dismissible">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                <h4><i class="icon fa fa-info"></i> STEP Reference# @Model.Item5.ElementAt(0).StepReferenceNo</h4>
                                <b>Description: </b>@Model.Item5.ElementAt(0).Description
                            </div>
                        </div>
                    </div>
                </div>
                <div class="callout callout-info">
                    <h4>Activity STEP's</h4>
                </div>
                @*<ul class="stepper horizontal" id="horizontal-stepper">
            <li class="step active">
                <div class="step-title waves-effect waves-dark">Step 1</div>
                <div class="step-new-content">
                    <div class="row">
                        <div class="md-form col-12 ml-auto">
                            <input id="email-horizontal" type="email" class="validate form-control" required>
                            <label for="email-horizontal">Email</label>
                        </div>
                    </div>
                    <div class="step-actions">
                        <button class="waves-effect waves-dark btn btn-sm btn-primary next-step" data-feedback="someFunction21">CONTINUE</button>
                    </div>
                </div>
            </li>
            <li class="step">
                <div class="step-title waves-effect waves-dark">Step 2</div>
                <div class="step-new-content">
                    <div class="row">
                        <div class="md-form col-12 ml-auto">
                            <input id="password-horizontal" type="password" class="validate form-control" required>
                            <label for="password-horizontal">Your password</label>
                        </div>
                    </div>
                    <div class="step-actions">
                        <button class="waves-effect waves-dark btn btn-sm btn-primary next-step" data-feedback="someFunction21">CONTINUE</button>
                        <button class="waves-effect waves-dark btn btn-sm btn-secondary previous-step">BACK</button>
                    </div>
                </div>
            </li>
            <li class="step">
                <div class="step-title waves-effect waves-dark">Step 3</div>
                <div class="step-new-content">
                    Finish!
                    <div class="step-actions">
                        <button class="waves-effect waves-dark btn-sm btn btn-primary m-0 mt-4" type="button">SUBMIT</button>
                    </div>
                </div>
            </li>
        </ul>*@
                <div class="ibox-content">
                    <table class="table table-striped table-bordered  dataTables-example">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.Item1.ElementAt(0).Step.SerailNo)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Item1.ElementAt(0).Step.Name)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Item1.ElementAt(0).PlannedDate)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Item1.ElementAt(0).ActualDate)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Item1.ElementAt(0).Attachment)
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Item1)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Step.SerailNo)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Step.Name)
                                    </td>
                                    @{
                                        if (item.NotApplicable == false)
                                        {
                                            <td>
                                                @Html.DisplayFor(modelItem => item.PlannedDate)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.ActualDate)
                                            </td>
                                        }
                                        else
                                        {
                                            <td>
                                                <text>N/A</text>
                                            </td>
                                            <td>
                                                <text>N/A</text>
                                            </td>
                                        }
                                    }
                                    @{
                                        if (item.Attachment != null)
                                        {
                                            <td>
                                                <a href='@Url.Content(item.Attachment)' target="_blank">
                                                    View Evidence
                                                </a>
                                            </td>
                                        }
                                        else
                                        {
                                            <td>
                                                <text>No Attachment</text>
                                            </td>
                                        }
                                    }
                                </tr>
                            }
                        </tbody>

                    </table>
                </div>
                <div class="callout callout-info">
                    <h4>Number of Lots</h4>
                </div>
                <div class="ibox-content">
                    <table class="table table-striped table-bordered  dataTables-example">
                        <thead>
                            <tr>
                                <th>
                                    <text>Lot No</text>
                                </th>
                                <th>
                                    <text>Description</text>
                                </th>
                                <th>
                                    <text>Items</text>
                                </th>
                                <th>
                                    <text>Contract Agreement</text>
                                </th>
                                <th>
                                    <text>Estimated Cost</text>
                                </th>
                                <th>
                                    <text>Actual Cost</text>
                                </th>
                                <th>
                                    <text>Contract Expiry</text>
                                </th>
                                @*<th>
            <text>Items</text>
        </th>*@
                            </tr>
                        </thead>
                        <tbody>
                            @{ int counter = 1;}
                            @foreach (var item in Model.Item2)
                            {
                            <tr>
                                <td>Lot-@counter</td>
                                @*<td><a class="search" data-url='@Url.Action("index2", "PPItemDetails", new { id = item.lotId, param = "1" })' data-toggle="modal" data-target="#exampleModalLong1">@String.Format("{0:#,##}", item.EstimatedUnitRate)</a></td>
        <td><a class="search" data-url='@Url.Action("details", "Contractors", new { area = "", id = item.ContractorID })' data-toggle="modal" data-target="#exampleModalLong1">@item.CompanyName</a></td>*@
                                <td>@item.lotDescription</td>
                                <td>@item.ItemTotal</td>
                                @{
                                    if (item.Attachment != null)
                                    {
                                        <td>
                                            <a href='@Url.Content(item.Attachment)' target="_blank">
                                                View Evidence
                                            </a>
                                        </td>
                                    }
                                    else
                                    {
                                        <td>
                                            <text>No Attachment</text>
                                        </td>
                                    }
                                }
                                <td>@item.EstimatedCost</td>
                                @{
                                    if (item.ActualCost == null)
                                    {
                                        <td style="color:brown">Pending</td>
                                    }
                                    else
                                    {
                                        <td>@item.ActualCost</td>
                                    }
                                }
                                @{
                                    if (item.ExpiryDate == null)
                                    {
                                        <td style="color:brown">Pending</td>
                                    }
                                    else
                                    {
                                        <td>@item.ExpiryDate</td>
                                    }
                                }
                                @{ counter = counter + 1;}
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <div class="ibox-content">
                    <table class="table table-striped table-bordered  dataTables-example">
                        <thead>
                            <tr>
                                <th>
                                    <text>List of Lots</text>
                                </th>
                                <th>
                                    <text>Estimated Amount</text>
                                </th>
                                <th>
                                    <text>Vendor</text>
                                </th>
                                <th>
                                    <text>Contract Agreement</text>
                                </th>
                                <th>
                                    <text>Contract Addendum</text>
                                </th>
                                <th>
                                    <text>Actual Award Amount</text>
                                </th>
                                <th>
                                    <text>Contract Expiry</text>
                                </th>
                                @*<th>
                            <text>Items</text>
                        </th>*@
                            </tr>
                        </thead>
                        <tbody>
                            @{  counter = 1;}
                            @foreach (var item in Model.Item4)
                            {
                                <tr>
                                    <td>Lot-@item.lotno <a class="search btn-primary btn-sm" data-url='/Procurement/LotItems/details/@item.lotId' data-toggle="modal" data-target="#exampleModalLong1"><i class="fa fa-binoculars"></i></a></td>
                                    <td><a class="search" data-url='@Url.Action("index2", "PPItemDetails", new { id = item.lotId, param = "1" })' data-toggle="modal" data-target="#exampleModalLong1">@String.Format("{0:#,##}", item.EstimatedUnitRate)</a></td>
                                    <td><a class="search" data-url='@Url.Action("details", "Contractors", new { area = "", id = item.ContractorID })' data-toggle="modal" data-target="#exampleModalLong1">@item.CompanyName</a></td>
                                    @{
                                        if (item.Attachment != null)
                                        {
                                            <td>
                                                <a href='@Url.Content(item.Attachment)' target="_blank">
                                                    View Evidence
                                                </a>
                                            </td>
                                        }
                                        else
                                        {
                                            <td>
                                                <text>No Attachment</text>
                                            </td>
                                        }
                                    }
                                    @{ int val = 0;
                                        if (ViewData["Data"] != null)
                                        {
                                            val = 1;
                                        }
                                    }
                                    <td>
                                        @{
                                            if (val > 0)
                                            {
                                                <text>(@val) Addendum </text><a class="search btn-primary btn-sm" data-url='@Url.Action("details", "PPAddendums", new {id = item.lotId })' data-toggle="modal" data-target="#exampleModalLong1"><i class="fa fa-binoculars"></i></a>
                                            }
                                            else
                                            {
                                                <text>No</text>
                                            }
                                        }
                                    </td>
                                    <td><a class="search" data-url='@Url.Action("index2", "PPItemDetails", new { id = item.lotId, param = "2" })' data-toggle="modal" data-target="#exampleModalLong1">@String.Format("{0:#,##}", item.ActualUnitRate)</a></td>
                                    <td>
                                        @{
                                            if (item.AddendumTypeId == null || item.AddendumTypeId == 1)
                                            {
                                                <text>10 Oct 2019@*@item.ActualDate.Value.ToString("dd MMMM yyyy")*@</text>
                                            }
                                            else
                                            {
                                                <text>@item.LExpiryDate</text>
                                            }
                                        }
                                    </td>
                                    @*<td><a class="search" data-url='@Url.Action("index2", "PPItemDetails", new { id = item.lotId, param = "1" })' data-toggle="modal" data-target="#exampleModalLong1">View Detail</a></td>*@
                                    @{ counter = counter + 2;}
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>

                <div class="ibox-title" style="margin-bottom:40px">
                    @*<h4>List of Received Lot Items</h4>*@
                </div>
                <div class="ibox-content" style="padding:2px">
                    @*<div id="CMManagementIndex2"></div>*@
                </div>

            </div>
        </div>
    </div>

    <!-- Modal1 -->
    <div class="modal fade" id="exampleModalLong1" tabindex="-1" role="dialog" aria-hidden="true" style="z-index: 1400">
        <div class="modal-dialog" role="document" style="width:800px;min-height:600px">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div id="partial">Loading....</div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    @*<button type="button" class="btn btn-primary">Save changes</button>*@
                </div>
            </div>
        </div>
    </div>
</div>

@section Styles {
    <!-- DataTables -->
    <link rel="stylesheet" href="~/libs/datatables/css/dataTables.bootstrap.min.css">
}

<div id="dynamicContentContainer"></div>
@section Scripts {
    <script src="~/libs/datatables/js/jquery.dataTables.min.js"></script>
    <script src="~/libs/datatables/js/dataTables.bootstrap.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
         
                $('.dataTables-example').DataTable({
                    //"scrollY": 350,
                    //"processing": true, // for show progress bar
                    //"bJQueryUI": true,
                    //"bServerSide": true,
                    //"sAjaxSource": "SchoolList",
                    "bPaginate": false,
                    "ordering": false,
                    dom: '<"html5buttons"B>lTfigtp',

                    buttons: [
                        { extend: 'copy' },
                        { extend: 'csv' },
                        { extend: 'excel', title: 'ExampleFile' },
                        { extend: 'pdf', title: 'ExampleFile' },


                    ]

                });
                //alert('Table Generated')        

                $(function () {
                    $('.search').click(function () {
                        var url = $(this).data('url');
                        var route = url;
                        $('#partial').load(route);
                    });
                });
            });  
    </script>

    }