@model BES.Areas.Procurement.Models.Addendum

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Addendum</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Attachment)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Attachment)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Remarks)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Remarks)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ExpiryDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ExpiryDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Lot)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Lot.lotId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AddendumType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AddendumType.AddendumTypeId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.AddendumId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
