
@model IEnumerable<BES.Areas.Procurement.Models.Addendum>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AddendumType.Name)
            </th>
            <th>
                <text>Expiry Date</text>
            </th>
            <th>
                <text>Contract Agreement</text>
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.Remarks)
            </th>*@            
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AddendumType.Name)
            </td>
            @{
                if (item.AddendumTypeId != 1)
                {
                    <td>@item.Lot.ExpiryDate</td>
                }
                else
                {
                    <td>@Html.DisplayFor(modelItem => item.Lot.ExpiryDate)</td>
                }
            }

            @{
                if (item.Attachment != null)
                {
                    <td>
                        <a href='@Url.Content(item.Attachment)' target="_blank">
                            View Evidence
                        </a>
                    </td>
                }
                else
                {
                    <td>
                        <text>No Attachment</text>
                    </td>
                }
            }
            @*<td>@Html.DisplayFor(modelItem => item.Remarks)</td>*@
            @{
                if (item.AddendumTypeId == 2)
                {
                    <td>
                        @*<a asp-action="Edit" asp-route-id="@item.AddendumId" asp-route-AID="@ViewBag.AID">Edit</a> |*@                        
                    </td>
                }
                else
                {
                    <td>
                        @*<a asp-action="Edit" asp-route-id="@item.AddendumId" asp-route-AID="@ViewBag.AID">Edit</a> |*@
                        <a asp-action="AddAddendumItems" asp-controller="AddendumDetails" asp-route-id="@item.AddendumId">Addendum Items</a>
                    </td>

                }
            }
        </tr>
        }
    </tbody>
</table>