@model BES.Areas.Procurement.Models.LotItemImage

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>LotItemImage</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ImagePath)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ImagePath)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Visibility)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Visibility)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LotItem)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LotItem.LotItemId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ItemImageId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
