@model IEnumerable<LIVESTOCK.Areas.website.Models.Notification>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/website/Views/Shared/_Layout.cshtml";
}


@section Styles {
    <!-- DataTables -->
    <link rel="stylesheet" href="~/libs/datatables/css/dataTables.bootstrap.min.css">
}

    <div style="margin:20px;min-height:300px">
        <table class="table table-striped table-bordered  dataTables-example">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CreatedOn)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CreatedOn)
                        </td>
                        <td>
                            <a href='@Url.Content(item.FilePath)' target="_blank">View</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

