@model BES.Models.Data.BaselineGeneral

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>BaselineGeneral</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UCID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UCID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SchoolType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SchoolType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ClusterBEMISCode)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ClusterBEMISCode)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BEMISCode)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BEMISCode)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Latitude)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Latitude)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Longitude)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Longitude)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.VisitorName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.VisitorName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.varified)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.varified)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.VarifiedBy)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.VarifiedBy)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Remarks)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Remarks)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.School)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.School.SName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.BLGeneralID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
