@using BES.Models.Data
@model ModelCollection
@{
    short level = Convert.ToInt16(Model.baselineGeneral.Type);
}
<style>
    td {
        padding-left: 20px;
        padding-right: 10px;
        padding-bottom: 10px;
    }

    th {
        padding-left: 20px;
        padding-right: 10px;
    }
</style>
<section class="content-header">
    <div class="row">
        <h1>
            EU School Baseline Servey 
            <small>BES</small>
        </h1>
        <div class="col-sm-10">
            <ol class="breadcrumb">
                <li> @Html.ActionLink("List", "Index") </li>
                <li class="active">
                    <strong>Edit</strong>
                </li>
            </ol>
        </div>
        <div class="col-sm-2">
            <div class="title-action">
                @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-primary" })
            </div>
        </div>
    </div>
</section>
<section class="content">
    <div>
        <div class="row">
            <div class="col-lg-12">

                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">
                        <h2 style="color:red">@ViewBag.Error</h2>
                        @Html.ValidationSummary(true)
                        @*@Html.HiddenFor(a => a.newSchool.SName)*@
                        @*@Html.HiddenFor(a => a.newSchool.UCID)*@
                        @Html.HiddenFor(a => a.newSchool.SchoolID)
                        @Html.HiddenFor(a => a.newSchool.SName)
                        @Html.HiddenFor(a => a.newSchool.SchoolOf)
                        @Html.HiddenFor(a => a.baselineGeneral.SchoolID)
                        @Html.HiddenFor(a => a.newSchool.Latitude)
                        @Html.HiddenFor(a => a.newSchool.SelectedStatus)
                        @Html.HiddenFor(a => a.newSchool.Longitude)
                        @Html.HiddenFor(a => a.baselineGeneral.School)
                        @Html.HiddenFor(a => a.baselineGeneral.UCID)
                        @Html.HiddenFor(a => a.baselineGeneral.BLGeneralID)
                        @Html.HiddenFor(a => a.blFacilitiesInfo.BLFacilitiesInfoID)
                        @Html.HiddenFor(a => a.blLandAvailable.LandAvailableID)
                        @Html.HiddenFor(a => a.blPTSMCInfo.BLPtsmcID)



                        <div class="box box-primary">
                            <div class="box-header with-border">
                                <h3 class="box-title">General Information</h3>
                            </div>
                            <div class="ibox-content">
                                <table style="margin-top:20px">
                                    <thead>
                                        <tr>
                                            <th>
                                                @Html.Label("School UC")
                                            </th>
                                            <th>
                                                @Html.Label("School Type")
                                            </th>
                                            <th>
                                                @Html.Label("School Name")
                                            </th>
                                            <th>
                                                @Html.Label("Level")
                                            </th>
                                            <th>
                                                @Html.Label("BEMIS Code")
                                            </th>
                                            <th>
                                                @Html.Label("Cluster  Code")
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                @Html.DropDownList("UCID")
                                            </td>
                                            <td>
                                                @{
                                                    if (Model.baselineGeneral.SchoolType == 1)
                                                    {
                                                        @Html.DropDownListFor(model => model.baselineGeneral.SchoolType,
                                                         new[]
                                                         { new SelectListItem { Text = "Potential", Value = "1" }

                                                     })
                                                    }
                                                    else
                                                    {
                                                        @Html.DropDownListFor(model => model.baselineGeneral.SchoolType,
                                                         new[]
                                                         {
                                                new SelectListItem { Text = "Feeder", Value = "2" },
                                                new SelectListItem { Text = "Next Level", Value = "3" }
                                                     })
                                                    }
                                                }
                                            </td>
                                            <td>
                                                @Html.EditorFor(model => model.baselineGeneral.SName)
                                            </td>

                                            <td>
                                                @Html.DropDownListFor(model => model.baselineGeneral.Type,
                                            new[]
                                            { new SelectListItem { Text = "Primary", Value = "1" },
                                            new SelectListItem { Text = "Middle", Value = "2" },
                                            new SelectListItem { Text = "High", Value = "3" }
                                            })
                                            </td>
                                            <td>
                                                @Html.EditorFor(model => model.baselineGeneral.BEMISCode)
                                            </td>
                                            <td>
                                                @Html.EditorFor(model => model.baselineGeneral.ClusterBEMISCode)
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <table style="margin-top:20px">
                                    <thead>
                                        <tr>
                                            <th>
                                                @Html.Label("Latitude")
                                            </th>
                                            <th>
                                                @Html.Label("Longitude")
                                            </th>
                                            <th>
                                                @Html.Label("Visitor Name")
                                            </th>
                                            <th>
                                                @Html.Label("Visit Date")
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                @Html.EditorFor(model => model.baselineGeneral.Latitude)
                                            </td>
                                            <td>
                                                @Html.EditorFor(model => model.baselineGeneral.Longitude)
                                            </td>
                                            <td>
                                                @Html.EditorFor(model => model.baselineGeneral.VisitorName)
                                            </td>
                                            <td>
                                                @Html.EditorFor(model => model.baselineGeneral.Date)
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                @Html.HiddenFor(model => model.baselineGeneral.VarifiedBy)
                                @Html.HiddenFor(model => model.baselineGeneral.varified)
                            </div>
                        </div>
                    </div>
                    <div class="box box-success">
                        <div class="box-header with-border">
                            <h3 class="box-title">School Enrollment as per Attendance Register</h3>
                        </div>
                        <table style="padding:20px;margin-top:20px">
                            <thead>
                                <tr>
                                    <td>
                                        @Html.LabelFor(model => model.blEnrollmentList[0].ClassID, new { @class = "control-label col-md-2" })
                                    </td>
                                    <td>
                                        <label class="control-label col-md-2">Kachi</label>
                                    </td>
                                    <td>
                                        <label class="control-label col-md-2">One</label>
                                    </td>
                                    <td>
                                        <label class="control-label col-md-2">Two</label>
                                    </td>
                                    <td>
                                        <label class="control-label col-md-2">Three</label>
                                    </td>
                                    <td>
                                        <label class="control-label col-md-2">Four</label>
                                    </td>
                                    <td>
                                        <label class="control-label col-md-2">Five</label>
                                    </td>
                                    @{
                                        if (level > 1)
                                        {
                                            <td>
                                                <label class="control-label col-md-2">Six</label>
                                            </td>
                                            <td>
                                                <label class="control-label col-md-2">Seven</label>
                                            </td>
                                            <td>
                                                <label class="control-label col-md-2">Eight</label>
                                            </td>
                                        }

                                        if (level > 2)
                                        {
                                            <td>
                                                <label class="control-label col-md-2">Nine</label>
                                            </td>
                                            <td>
                                                <label class="control-label col-md-2">Ten</label>
                                            </td>
                                        }
                                    }
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <label class="control-label col-md-2">Boys</label>
                                    </td>
                                    <td>
                                        @Html.EditorFor(model => model.blEnrollmentList[0].EnrollBoys)
                                    </td>
                                    <td>
                                        @Html.EditorFor(model => model.blEnrollmentList[1].EnrollBoys)
                                    </td>
                                    <td>
                                        @Html.EditorFor(model => model.blEnrollmentList[2].EnrollBoys)
                                    </td>
                                    <td>
                                        @Html.EditorFor(model => model.blEnrollmentList[3].EnrollBoys)
                                    </td>
                                    <td>
                                        @Html.EditorFor(model => model.blEnrollmentList[4].EnrollBoys)
                                    </td>
                                    <td>
                                        @Html.EditorFor(model => model.blEnrollmentList[5].EnrollBoys)
                                    </td>
                                    @{
                                        if (level > 1)
                                        {

                                            <td>
                                                @Html.EditorFor(model => model.blEnrollmentList[6].EnrollBoys)
                                            </td>
                                            <td>
                                                @Html.EditorFor(model => model.blEnrollmentList[7].EnrollBoys)
                                            </td>

                                            <td>
                                                @Html.EditorFor(model => model.blEnrollmentList[8].EnrollBoys)
                                            </td>
                                        }
                                        if (level > 2)
                                        {
                                            <td>
                                                @Html.EditorFor(model => model.blEnrollmentList[9].EnrollBoys)
                                            </td>
                                            <td>
                                                @Html.EditorFor(model => model.blEnrollmentList[10].EnrollBoys)
                                            </td>
                                        }
                                    }
                                </tr>
                                <tr>
                                    <td>
                                        <label class="control-label col-md-2">Girls</label>
                                    </td>
                                    <td>
                                        @Html.EditorFor(model => model.blEnrollmentList[0].EnrollGirls)
                                    </td>
                                    <td>
                                        @Html.EditorFor(model => model.blEnrollmentList[1].EnrollGirls)
                                    </td>
                                    <td>
                                        @Html.EditorFor(model => model.blEnrollmentList[2].EnrollGirls)
                                    </td>
                                    <td>
                                        @Html.EditorFor(model => model.blEnrollmentList[3].EnrollGirls)
                                    </td>
                                    <td>
                                        @Html.EditorFor(model => model.blEnrollmentList[4].EnrollGirls)
                                    </td>
                                    <td>
                                        @Html.EditorFor(model => model.blEnrollmentList[5].EnrollGirls)
                                    </td>
                                    @{
                                        if (level > 1)
                                        {
                                            <td>
                                                @Html.EditorFor(model => model.blEnrollmentList[6].EnrollGirls)
                                            </td>
                                            <td>
                                                @Html.EditorFor(model => model.blEnrollmentList[7].EnrollGirls)
                                            </td>
                                            <td>
                                                @Html.EditorFor(model => model.blEnrollmentList[8].EnrollGirls)
                                            </td>
                                        }
                                        if (level > 2)
                                        {
                                            <td>
                                                @Html.EditorFor(model => model.blEnrollmentList[9].EnrollGirls)
                                            </td>
                                            <td>
                                                @Html.EditorFor(model => model.blEnrollmentList[10].EnrollGirls)
                                            </td>}
                                    }
                                </tr>
                            </tbody>
                        </table>

                    </div>
                    <div class="box box-warning ">
                        <div class="box-header with-border">
                            <h3 class="box-title">School Presence as per Attendance Register</h3>
                        </div>
                        <table style="padding:20px">
                            <thead>
                                <tr>
                                    <td>
                                        @Html.LabelFor(model => model.blEnrollmentList[0].ClassID, new { @class = "control-label col-md-2" })
                                    </td>
                                    <td>
                                        <label class="control-label col-md-2">Kachi</label>
                                    </td>
                                    <td>
                                        <label class="control-label col-md-2">One</label>
                                    </td>
                                    <td>
                                        <label class="control-label col-md-2">Two</label>
                                    </td>
                                    <td>
                                        <label class="control-label col-md-2">Three</label>
                                    </td>
                                    <td>
                                        <label class="control-label col-md-2">Four</label>
                                    </td>
                                    <td>
                                        <label class="control-label col-md-2">Five</label>
                                    </td>
                                    @{
                                        if (level > 1)
                                        {
                                            <td>
                                                <label class="control-label col-md-2">Six</label>
                                            </td>
                                            <td>
                                                <label class="control-label col-md-2">Seven</label>
                                            </td>
                                            <td>
                                                <label class="control-label col-md-2">Eight</label>
                                            </td>
                                        }

                                        if (level > 2)
                                        {
                                            <td>
                                                <label class="control-label col-md-2">Nine</label>
                                            </td>
                                            <td>
                                                <label class="control-label col-md-2">Ten</label>
                                            </td>
                                        }
                                    }
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <label class="control-label col-md-2">Boys</label>
                                    </td>
                                    <td>
                                        @Html.EditorFor(model => model.blEnrollmentList[0].PresenceBoys)
                                    </td>
                                    <td>
                                        @Html.EditorFor(model => model.blEnrollmentList[1].PresenceBoys)
                                    </td>
                                    <td>
                                        @Html.EditorFor(model => model.blEnrollmentList[2].PresenceBoys)
                                    </td>
                                    <td>
                                        @Html.EditorFor(model => model.blEnrollmentList[3].PresenceBoys)
                                    </td>
                                    <td>
                                        @Html.EditorFor(model => model.blEnrollmentList[4].PresenceBoys)
                                    </td>

                                    <td>
                                        @Html.EditorFor(model => model.blEnrollmentList[5].PresenceBoys)
                                    </td>
                                    @{
                                        if (level > 1)
                                        {
                                            <td>
                                                @Html.EditorFor(model => model.blEnrollmentList[6].PresenceBoys)
                                            </td>
                                            <td>
                                                @Html.EditorFor(model => model.blEnrollmentList[7].PresenceBoys)
                                            </td>
                                            <td>
                                                @Html.EditorFor(model => model.blEnrollmentList[8].PresenceBoys)
                                            </td>
                                        }
                                        if (level > 2)
                                        {
                                            <td>
                                                @Html.EditorFor(model => model.blEnrollmentList[9].PresenceBoys)
                                            </td>
                                            <td>
                                                @Html.EditorFor(model => model.blEnrollmentList[10].PresenceBoys)
                                            </td>}
                                    }
                                </tr>
                                <tr>
                                    <td>
                                        <label class="control-label col-md-2">Girls</label>
                                    </td>
                                    <td>
                                        @Html.EditorFor(model => model.blEnrollmentList[0].PresenceGirls)
                                    </td>
                                    <td>
                                        @Html.EditorFor(model => model.blEnrollmentList[1].PresenceGirls)
                                    </td>
                                    <td>
                                        @Html.EditorFor(model => model.blEnrollmentList[2].PresenceGirls)
                                    </td>
                                    <td>
                                        @Html.EditorFor(model => model.blEnrollmentList[3].PresenceGirls)
                                    </td>
                                    <td>
                                        @Html.EditorFor(model => model.blEnrollmentList[4].PresenceGirls)
                                    </td>
                                    <td>
                                        @Html.EditorFor(model => model.blEnrollmentList[5].PresenceGirls)
                                    </td>
                                    @{
                                        if (level > 1)
                                        {
                                            <td>
                                                @Html.EditorFor(model => model.blEnrollmentList[6].PresenceGirls)
                                            </td>
                                            <td>
                                                @Html.EditorFor(model => model.blEnrollmentList[7].PresenceGirls)
                                            </td>
                                            <td>
                                                @Html.EditorFor(model => model.blEnrollmentList[8].PresenceGirls)
                                            </td>

                                        }
                                        if (level > 2)
                                        {
                                            <td>
                                                @Html.EditorFor(model => model.blEnrollmentList[9].PresenceGirls)
                                            </td>
                                            <td>
                                                @Html.EditorFor(model => model.blEnrollmentList[10].PresenceGirls)
                                            </td>}
                                    }
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="box box-info">
                        <div class="box-header with-border">
                            <h3 class="box-title">School Presence as per Head Count</h3>
                        </div>
                        <table style="padding:20px;margin-top:20px">
                            <thead>
                                <tr>
                                    <td>
                                        @Html.LabelFor(model => model.blEnrollmentList[0].ClassID, new { @class = "control-label col-md-2" })
                                    </td>
                                    <td>
                                        <label class="control-label col-md-2">Kachi</label>
                                    </td>
                                    <td>
                                        <label class="control-label col-md-2">One</label>
                                    </td>
                                    <td>
                                        <label class="control-label col-md-2">Two</label>
                                    </td>
                                    <td>
                                        <label class="control-label col-md-2">Three</label>
                                    </td>
                                    <td>
                                        <label class="control-label col-md-2">Four</label>
                                    </td>
                                    <td>
                                        <label class="control-label col-md-2">Five</label>
                                    </td>
                                    @{
                                        if (level > 1)
                                        {
                                            <td>
                                                <label class="control-label col-md-2">Six</label>
                                            </td>
                                            <td>
                                                <label class="control-label col-md-2">Seven</label>
                                            </td>
                                            <td>
                                                <label class="control-label col-md-2">Eight</label>
                                            </td>
                                        }

                                        if (level > 2)
                                        {
                                            <td>
                                                <label class="control-label col-md-2">Nine</label>
                                            </td>
                                            <td>
                                                <label class="control-label col-md-2">Ten</label>
                                            </td>
                                        }
                                    }
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <label class="control-label col-md-2">Boys</label>
                                    </td>
                                    <td>
                                        @Html.EditorFor(model => model.blEnrollmentList[0].HeadCountBoys)
                                    </td>
                                    <td>
                                        @Html.EditorFor(model => model.blEnrollmentList[1].HeadCountBoys)
                                    </td>
                                    <td>
                                        @Html.EditorFor(model => model.blEnrollmentList[2].HeadCountBoys)
                                    </td>
                                    <td>
                                        @Html.EditorFor(model => model.blEnrollmentList[3].HeadCountBoys)
                                    </td>
                                    <td>
                                        @Html.EditorFor(model => model.blEnrollmentList[4].HeadCountBoys)
                                    </td>
                                    <td>
                                        @Html.EditorFor(model => model.blEnrollmentList[5].HeadCountBoys)
                                    </td>
                                    @{
                                        if (level > 1)
                                        {
                                            <td>
                                                @Html.EditorFor(model => model.blEnrollmentList[6].HeadCountBoys)
                                            </td>
                                            <td>
                                                @Html.EditorFor(model => model.blEnrollmentList[7].HeadCountBoys)
                                            </td>
                                            <td>
                                                @Html.EditorFor(model => model.blEnrollmentList[8].HeadCountBoys)
                                            </td>
                                        }
                                        if (level > 2)
                                        {
                                            <td>
                                                @Html.EditorFor(model => model.blEnrollmentList[9].HeadCountBoys)
                                            </td>
                                            <td>
                                                @Html.EditorFor(model => model.blEnrollmentList[10].HeadCountBoys)
                                            </td>}
                                    }
                                </tr>
                                <tr>
                                    <td>
                                        <label class="control-label col-md-2">Girls</label>
                                    </td>
                                    <td>
                                        @Html.EditorFor(model => model.blEnrollmentList[0].HeadCountGirls)
                                    </td>
                                    <td>
                                        @Html.EditorFor(model => model.blEnrollmentList[1].HeadCountGirls)
                                    </td>
                                    <td>
                                        @Html.EditorFor(model => model.blEnrollmentList[2].HeadCountGirls)
                                    </td>
                                    <td>
                                        @Html.EditorFor(model => model.blEnrollmentList[3].HeadCountGirls)
                                    </td>
                                    <td>
                                        @Html.EditorFor(model => model.blEnrollmentList[4].HeadCountGirls)
                                    </td>
                                    <td>
                                        @Html.EditorFor(model => model.blEnrollmentList[5].HeadCountGirls)
                                    </td>

                                    @{
                                        if (level > 1)
                                        {
                                            <td>
                                                @Html.EditorFor(model => model.blEnrollmentList[6].HeadCountGirls)
                                            </td>
                                            <td>
                                                @Html.EditorFor(model => model.blEnrollmentList[7].HeadCountGirls)
                                            </td>
                                            <td>
                                                @Html.EditorFor(model => model.blEnrollmentList[8].HeadCountGirls)
                                            </td>
                                        }
                                        if (level > 2)
                                        {
                                            <td>
                                                @Html.EditorFor(model => model.blEnrollmentList[9].HeadCountGirls)
                                            </td>
                                            <td>
                                                @Html.EditorFor(model => model.blEnrollmentList[10].HeadCountGirls)
                                            </td>}
                                    }
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="box box-danger">
                        <div class="box-header with-border">
                            <h3 class="box-title">Teachers Information</h3> <small>Teachers Posts and Number of Posts </small>
                        </div>
                        <div class="box-body">
                            <div class="col-lg-10">
                                <table style="margin-top:20px">
                                    <thead>
                                        <tr>
                                            <th>
                                                @Html.Label("Posts")
                                            </th>
                                            <th>
                                                @Html.Label("No of JVT")
                                            </th>
                                            <th>
                                                @Html.Label("No of JET")
                                            </th>
                                            <th>
                                                @Html.Label("No of JAT")
                                            </th>
                                            <th>
                                                @Html.Label("No of MQ")
                                            </th>
                                            <th>
                                                @Html.Label("No of DM")
                                            </th>
                                            <th>
                                                @Html.Label("No of SST(Gen)")
                                            </th>
                                            <th>
                                                @Html.Label("No of SST(Sci)")
                                            </th>
                                            <th>
                                                @Html.Label("No of SST(Math)")
                                            </th>
                                            <th>
                                                @Html.Label("No of PTI")
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <label class="control-label col-md-2">S</label>
                                            </td>
                                            <td >
                                                @Html.EditorFor(model => model.blTeacherSectionList[0].Sanctioned)
                                            </td>
                                            <td>
                                                @Html.EditorFor(model => model.blTeacherSectionList[1].Sanctioned)
                                            </td>
                                            <td>
                                                @Html.EditorFor(model => model.blTeacherSectionList[2].Sanctioned)
                                            </td>
                                            <td>
                                                @Html.EditorFor(model => model.blTeacherSectionList[3].Sanctioned)
                                            </td>
                                            <td>
                                                @Html.EditorFor(model => model.blTeacherSectionList[4].Sanctioned)
                                            </td>
                                            <td>
                                                @Html.EditorFor(model => model.blTeacherSectionList[5].Sanctioned)
                                            </td>
                                            <td>
                                                @Html.EditorFor(model => model.blTeacherSectionList[6].Sanctioned)
                                            </td>
                                            <td>
                                                @Html.EditorFor(model => model.blTeacherSectionList[7].Sanctioned)
                                            </td>
                                            <td>
                                                @Html.EditorFor(model => model.blTeacherSectionList[8].Sanctioned)
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <label class="control-label col-md-2">F</label>
                                            </td>
                                            <td>
                                                @Html.EditorFor(model => model.blTeacherSectionList[0].Filled)
                                            </td>
                                            <td>
                                                @Html.EditorFor(model => model.blTeacherSectionList[1].Filled)
                                            </td>
                                            <td>
                                                @Html.EditorFor(model => model.blTeacherSectionList[2].Filled)
                                            </td>
                                            <td>
                                                @Html.EditorFor(model => model.blTeacherSectionList[3].Filled)
                                            </td>
                                            <td>
                                                @Html.EditorFor(model => model.blTeacherSectionList[4].Filled)
                                            </td>
                                            <td>
                                                @Html.EditorFor(model => model.blTeacherSectionList[5].Filled)
                                            </td>
                                            <td>
                                                @Html.EditorFor(model => model.blTeacherSectionList[6].Filled)
                                            </td>
                                            <td>
                                                @Html.EditorFor(model => model.blTeacherSectionList[7].Filled)
                                            </td>
                                            <td>
                                                @Html.EditorFor(model => model.blTeacherSectionList[8].Filled)
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <label class="control-label col-md-2">A</label>
                                            </td>
                                            <td>
                                                @Html.EditorFor(model => model.blTeacherSectionList[0].Attached)
                                            </td>
                                            <td>
                                                @Html.EditorFor(model => model.blTeacherSectionList[1].Attached)
                                            </td>
                                            <td>
                                                @Html.EditorFor(model => model.blTeacherSectionList[2].Attached)
                                            </td>
                                            <td>
                                                @Html.EditorFor(model => model.blTeacherSectionList[3].Attached)
                                            </td>
                                            <td>
                                                @Html.EditorFor(model => model.blTeacherSectionList[4].Attached)
                                            </td>
                                            <td>
                                                @Html.EditorFor(model => model.blTeacherSectionList[5].Attached)
                                            </td>
                                            <td>
                                                @Html.EditorFor(model => model.blTeacherSectionList[6].Attached)
                                            </td>
                                            <td>
                                                @Html.EditorFor(model => model.blTeacherSectionList[7].Attached)
                                            </td>
                                            <td>
                                                @Html.EditorFor(model => model.blTeacherSectionList[8].Attached)
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </div>
                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <h3 class="box-title">School Land Availability and Ownership</h3>
                        </div>
                        <table style="margin-top:20px">
                            <tbody>
                                <tr>
                                    <td>
                                        <div class="checkbox">
                                            @Html.CheckBoxFor(model => model.blLandAvailable.SchoolOwnLand)
                                            @Html.LabelFor(model => model.blLandAvailable.SchoolOwnLand)
                                        </div>
                                    </td>
                                    <td>
                                        @Html.LabelFor(model => model.blLandAvailable.CommunityDonateLand)
                                        @Html.DropDownListFor(model => model.blLandAvailable.CommunityDonateLand,
                                new[]
                                    { new SelectListItem { Text = "N/A", Value = "" },
                                        new SelectListItem { Text = "Yes", Value = "True" },
                                      new SelectListItem { Text = "No", Value = "False" },
                                    })
                                        @*@Html.EditorFor(model => model.blLandAvailable.CommunityDonateLand)*@
                                    </td>
                                    <td>
                                        @Html.LabelFor(model => model.blLandAvailable.NeedAdditionalLand)
                                        @Html.DropDownListFor(model => model.blLandAvailable.NeedAdditionalLand,
                                new[]
                                    { new SelectListItem { Text = "N/A", Value = "" },
                                        new SelectListItem { Text = "Yes", Value = "True" },
                                      new SelectListItem { Text = "No", Value = "False" },
                                    })
                                        @*@Html.EditorFor(model => model.blLandAvailable.NeedAdditionalLand)*@
                                    </td>
                                    <td>
                                        @Html.LabelFor(model => model.blLandAvailable.CommunityDonateAdditionalLand)
                                        @Html.DropDownListFor(model => model.blLandAvailable.CommunityDonateAdditionalLand,
                                new[]
                                    { new SelectListItem { Text = "N/A", Value = "" },
                                        new SelectListItem { Text = "Yes", Value = "True" },
                                      new SelectListItem { Text = "No", Value = "False" },
                                    })
                                        @*@Html.EditorFor(model => model.blLandAvailable.CommunityDonateAdditionalLand)*@
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="box box-success">
                        <div class="box-header with-border">
                            <h3 class="box-title">PTSMC Information</h3>
                        </div>
                        <table style="margin-top:20px">
                            <tbody>
                                <tr>
                                    <td>
                                        <div class="checkbox">
                                            @Html.CheckBoxFor(model => model.blPTSMCInfo.IsPtsmcFormed)
                                            @Html.LabelFor(model => model.blPTSMCInfo.IsPtsmcFormed)
                                        </div>
                                    </td>
                                    <td>
                                        @Html.LabelFor(model => model.blPTSMCInfo.IsPtsmcTrained)
                                        @Html.DropDownListFor(model => model.blPTSMCInfo.IsPtsmcTrained,
                                new[]
                                    { new SelectListItem { Text = "N/A", Value = "" },
                                        new SelectListItem { Text = "Yes", Value = "True" },
                                      new SelectListItem { Text = "No", Value = "False" },
                                    })
                                        @*@Html.EditorFor(model => model.blPTSMCInfo.IsPtsmcTrained)*@
                                    </td>
                                    <td>
                                        @Html.LabelFor(model => model.blPTSMCInfo.IsPtsmcFunctional)
                                        @Html.DropDownListFor(model => model.blPTSMCInfo.IsPtsmcFunctional,
                                new[]
                                    { new SelectListItem { Text = "N/A", Value = "" },
                                        new SelectListItem { Text = "Yes", Value = "True" },
                                      new SelectListItem { Text = "No", Value = "False" },
                                    })
                                        @*@Html.EditorFor(model => model.blPTSMCInfo.IsPtsmcFunctional)*@
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        PTSMC Members:@Html.EditorFor(model => model.blPTSMCInfo.PtsmcMembers)
                                    </td>
                                    <td>
                                        If Non Functional, then why?  @Html.DropDownListFor(model => model.blPTSMCInfo.IfNotFunctional,
new[]
{   new SelectListItem { Text = "Not Applicable", Value = "Not Applicable" },
new SelectListItem { Text = "Community not interested", Value = "Community not interested" },
new SelectListItem { Text = "Internal community conflict", Value = "Internal community conflict" },
new SelectListItem { Text = "Don’t Know", Value = "Don’t Know" }
})
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="box box-warning">
                        <div class="box-header with-border">
                            <h3 class="box-title">School Facilities Information - Rooms</h3>
                        </div>
                        <table style="margin-top:20px">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.Label("Total No of Rooms?")
                                    </th>
                                    <td>
                                        @Html.EditorFor(model => model.blFacilitiesInfo.RoomsTotal)
                                    </td>
                                    <th>
                                        @Html.Label("No of Rooms Functional?")
                                    </th>
                                    <td>
                                        @Html.EditorFor(model => model.blFacilitiesInfo.RoomsFunctional)
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        @Html.Label("No of Rooms Non-Functional?")
                                    </th>
                                    <td>
                                        @Html.EditorFor(model => model.blFacilitiesInfo.RoomsNonFunctional)
                                    </td>
                                    <th>
                                        @Html.Label("No of rooms non-functional due to needing repair")
                                    </th>
                                    <td>
                                        @Html.EditorFor(model => model.blFacilitiesInfo.RoomsNeedRepair)
                                    </td>
                                <tr>
                                    <th>
                                        @Html.Label("No of rooms Non-functional due to not in use")
                                    </th>
                                    <td>
                                        @Html.EditorFor(model => model.blFacilitiesInfo.RoomsNotInUsed)
                                    </td>
                                    <th>
                                        @Html.Label("Is IT Room Available?(Y/N)")
                                    </th>
                                    <td>
                                        @Html.EditorFor(model => model.blFacilitiesInfo.IsITRoom)
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        @Html.Label("Is ECE Room Available? (Y/N)")
                                    </th>
                                    <td>
                                        @Html.EditorFor(model => model.blFacilitiesInfo.IsECERooms)
                                    </td>
                                </tr>
                            </thead>
                        </table>
                    </div>
                    <div class="box box-info">
                        <div class="box-header with-border">
                            <h3 class="box-title">School Facilities Information - Toilets</h3>
                        </div>
                        <table style="margin-top:20px">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.Label("Total No of Toilets?")
                                    </th>
                                    <td>
                                        @Html.EditorFor(model => model.blFacilitiesInfo.ToiletsTotal)
                                    </td>
                                    <th>
                                        @Html.Label("No of Toilets functional?")
                                    </th>
                                    <td>
                                        @Html.EditorFor(model => model.blFacilitiesInfo.ToiletsFunctional)
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        @Html.Label("No of Toilets Non-functional?")
                                    </th>
                                    <td>
                                        @Html.EditorFor(model => model.blFacilitiesInfo.ToiletsNonFunctional)
                                    </td>
                                    <th>
                                        @Html.Label("Reasons for Non Functional Toilets")
                                    </th>
                                    <td>
                                        @Html.DropDownListFor(model => model.blFacilitiesInfo.ToiletsNonFuncReason,
            new[]
            { new SelectListItem { Text = "Not Applicable", Value = "Not Applicable" },
            new SelectListItem { Text = "Sanitary equipment not complete", Value = "Sanitary equipment not complete" },
            new SelectListItem { Text = "Water not available", Value = "Water not available" },
            new SelectListItem { Text = "Sanitary Equipment non-Functional", Value = "Sanitary Equipment non-Functional" }
            })
                                    </td>
                                </tr>
                            </thead>
                        </table>
                    </div>
                    <div class="box box-danger">
                        <div class="box-header with-border">
                            <h3 class="box-title">School Facilities Information - Water</h3>
                        </div>
                        <table>
                            <thead>
                                <tr>
                                    <th>
                                        @Html.Label("Is Water Available? (Y/N)")
                                    </th>
                                    <td>
                                        @Html.EditorFor(model => model.blFacilitiesInfo.IsWaterAvailable)
                                    </td>
                                    <th style="width:200px">
                                        @Html.Label("If Yes What Type of water facility available?")
                                    </th>
                                    <td>
                                        @Html.DropDownListFor(model => model.blFacilitiesInfo.WaterSource,
                new[]
                { new SelectListItem { Text = "Not Applicable", Value = "Not Applicable" },
                new SelectListItem { Text = "Well", Value = "Well" },
                new SelectListItem { Text = "Hand pump", Value = "Hand pump" },
                new SelectListItem { Text = "Spring", Value = "Spring" },
                new SelectListItem { Text = "Stream", Value = "Stream" },
                new SelectListItem { Text = "Water supply", Value = "Water supply" },
                new SelectListItem { Text = "Bore with windmill", Value = "Bore with windmill" },
                new SelectListItem { Text = "Bore only", Value = "Bore only" },
                new SelectListItem { Text = "Tanker", Value = "Tanker" }
                })
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        @Html.Label("If no, then why?")
                                    </th>
                                    <td>
                                        @Html.DropDownListFor(model => model.blFacilitiesInfo.IfWaterNotAvailble,
                new[]
                { new SelectListItem { Text = "Not Applicable", Value = "Not Applicable" },
                new SelectListItem { Text = "No electricity", Value = "No electricity" },
                new SelectListItem { Text = "No Water Connection to Source", Value = "No Water Connection to Source" },
                new SelectListItem { Text = "No Water Source Available", Value = "No Water Source Available" },
                new SelectListItem { Text = "Pumping machinery not available", Value = "Pumping machinery not available" },
                new SelectListItem { Text = "Water storage tank is not Available", Value = "Water storage tank is not Available" }
                })
                                    </td>
                                </tr>
                            </thead>
                        </table>
                    </div>
                    <div class="box box-success">
                        <div class="box-header with-border">
                            <h3 class="box-title">School Facilities Information - Others</h3>
                        </div>
                        <table>
                            <thead>
                                <tr>
                                    <th>
                                        @Html.Label("Is Boundary wall available?(Y/N)")
                                    </th>
                                    <td>
                                        @Html.EditorFor(model => model.blFacilitiesInfo.IsBoundrywall)
                                    </td>
                                    <th>
                                        @Html.Label("Is Gas available?(Y/N)")
                                    </th>
                                    <td>
                                        @Html.EditorFor(model => model.blFacilitiesInfo.IsGas)
                                    </td>
                                    <th>
                                        @Html.Label("Is Electricity Available? (Y/N)")
                                    </th>
                                    <td>
                                        @Html.EditorFor(model => model.blFacilitiesInfo.IsElectricity)
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        @Html.Label("Is Telephone Connection Available?(Y/N)")
                                    </th>
                                    <td>
                                        @Html.EditorFor(model => model.blFacilitiesInfo.IsTelephone)
                                    </td>
                                    <th>
                                        @Html.Label("Sports Equipment Available?(Y/N)")
                                    </th>
                                    <td>
                                        @Html.EditorFor(model => model.blFacilitiesInfo.IsSportsEquipment)
                                    </td>
                                    <th>
                                        @Html.Label("Is Library Available? (Y/N)")
                                    </th>
                                    <td>
                                        @Html.EditorFor(model => model.blFacilitiesInfo.IsLibrary)
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        @Html.Label("Is Resource hall available?(Y/N)")
                                    </th>
                                    <td>
                                        @Html.EditorFor(model => model.blFacilitiesInfo.IsResourceHall)
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        @Html.Label("Total No of Students with school furniture (Desk and Chair )?")
                                    </th>
                                    <td>
                                        @Html.EditorFor(model => model.blFacilitiesInfo.StudentWithFurniture)
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        @Html.Label("Total No of Cupboards?")
                                    </th>
                                    <td>
                                        @Html.EditorFor(model => model.blFacilitiesInfo.TotalCupboards)
                                    </td>
                                </tr>
                            </thead>
                        </table>
                        <div class="form-group">
                            @Html.LabelFor(model => model.baselineGeneral.Remarks, new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.baselineGeneral.Remarks)
                                @Html.ValidationMessageFor(model => model.baselineGeneral.Remarks)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Submit" class="btn btn-primary" />
                                @Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-white" })
                            </div>
                        </div>
                    </div>
                }

            </div>
                        
            
        </div>
    </div>
</section>